## Python Basics

Printing

In [2]:
a = 5
print(a)
print('Hello World')

5
Hello World

Defining a function

In [4]:
def add_numbers(a, b):
    return a + b
sum = add_numbers(1,2)
sum

3

Conditions

In [8]:
x = 5
y = 7
if x > 5:
    x += 1

    y = 8
x,y

(5, 7)

Indentation, not braces

Dynamic references, strong types

In [13]:
a = 4.5
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

Strings

In [15]:
a = 'this is a string'
b = a.replace('string', 'longer string')
b

'this is a longer string'

Loops

In [17]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

Tuple

In [18]:
tup = 4, 5, 6
tup

(4, 5, 6)

List

In [19]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

Slicing

In [20]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

Dictionary

In [21]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [22]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [23]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

set

In [24]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

List, Set, and Dict Comprehensions

In [25]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

Nested list comprehensions

In [26]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]